### Merge crime and socioeconomic date into the chronic absence dataset

In [1]:
import pandas as pd

In [27]:
df_abs = pd.read_excel('../../data/cleaned_chronic_absence_data.xlsx')

In [28]:
abs.head()

,ID,LastName,FirstName,Birthdate,DT,SiteName,Grade_Label,School_Level,Gen,Eth,...,Cumulative Weighted Total GPA (TP),Current Weighted Total GPA (GT),ParentName,Telephone,PG_Email_1,Missing_Email,Missing_Phone,AddressResidence,CityResidence,ZipResidence
0,443282,Aarif,Aslam,2010-07-02,2025-05-29,Oakland Technical High School,Grade 9,High School,M,African American,...,NaN,NaN,Danyelle Aarif,5.103055e+09,kkisa@yahoo.com,False,False,1931 Myrtle St,Oakland,94607
1,280022,Oregon Ornelas,Fernando,2010-10-18,2025-05-29,Madison Park Academy 6-12,Grade 8,Middle,M,Latino,...,3.3,3.33,Antonio Oregon Gonzalez / Eliana Ornelas,5.103557e+09,elianamakeup0811@outlook.com,False,False,371 98th Ave,Oakland,94603
2,402884,Orellana Garcia,Yasser,2014-10-05,2025-05-29,Melrose Leadership Academy,Grade 4,Elementary,M,Latino,...,NaN,NaN,Claudia Y Garcia Mejia / Wilson Orellana,6.786930e+09,claudiayese1418@icloud.com,False,False,6630 MACARTHUR BLVD #20,Oakland,94605
3,430423,Orellana Cruz,Lucia,2006-01-30,2025-05-29,Oakland International HS,Grade 12,High School,F,Latino,...,4.0,4.00,Perla Pulido,7.079345e+09,Ptweety11@hotmail.com,False,False,9429 D street,Oakland,94603
4,408013,Orellana Acevedo,Emily,2016-01-30,2025-05-29,ACORN Woodland Elementary,Grade 3,Elementary,F,Latino,...,NaN,NaN,Xiomara Beatriz Acevedo Quesada,5.104079e+09,xiomarabeatriz17@gmail.com,False,False,1915 Auseon Ave,Oakland,94621

In [29]:
abs.columns

Index(['ID', 'LastName', 'FirstName', 'Birthdate', 'DT', 'SiteName',
       'Grade_Label', 'School_Level', 'Gen', 'Eth', 'Fluency', 'Home Language',
       'Special Ed Status', 'SED Status', 'DaysEnr', 'DaysAbs', 'DaysPresent',
       'AttRate', 'Is_Chronic', 'Absence_Severity', 'NumSusp', 'NumDaysSusp',
       'Cumulative Weighted Total GPA (TP)', 'Current Weighted Total GPA (GT)',
       'ParentName', 'Telephone', 'PG_Email_1', 'Missing_Email',
       'Missing_Phone', 'AddressResidence', 'CityResidence', 'ZipResidence'],
      dtype='object')

In [17]:
crime = pd.read_csv('../../data/oakland_crime_by_zip.csv')

In [18]:
socioeco = pd.read_csv('../../data/oakland_socioeconomic_by_zip.csv')

In [19]:
crime.head()

,year,zip_code,total_crimes,violent_crimes,property_crimes,drug_crimes,other_crimes
0,2017,94601,4749,1325,1434,168,1822
1,2017,94602,1881,231,673,25,952
2,2017,94603,10768,3027,3139,614,3988
3,2017,94605,560,64,211,2,283
4,2017,94606,5037,965,1632,230,2210

In [20]:
socioeco.head()

,year,zip_code,area_name,total_population,poverty_universe,below_poverty,poverty_rate_pct,median_household_income,labor_force,unemployed,unemployment_rate_pct,education_universe_25plus,high_school_plus_rate_pct,college_degree_rate_pct,median_gross_rent,median_home_value,health_insurance_universe,uninsured_rate_pct
0,2017,94601,ZCTA5 94601,50763,50201,13740,27.4,44666,25992,2570,9.9,32999,45.5,19.6,1145,364500,50455,82.1
1,2017,94602,ZCTA5 94602,30098,29986,3450,11.5,78347,16457,1225,7.4,21787,67.5,50.0,1286,673100,30022,93.4
2,2017,94603,ZCTA5 94603,33952,33794,7312,21.6,49793,16724,1717,10.3,20703,45.5,10.9,1320,307500,33908,86.5
3,2017,94605,ZCTA5 94605,44260,44024,7269,16.5,66211,23210,2370,10.2,30869,58.1,32.4,1333,476800,44216,89.7
4,2017,94606,ZCTA5 94606,38441,38234,9167,24.0,48421,22051,2192,9.9,28374,54.3,30.5,1146,440500,38270,87.6

In [30]:
# Filter to 2024 — abs data was collected in 2025, so use the latest available year
crime_2024 = crime[crime['year'] == 2024].drop(columns=['year']).reset_index(drop=True)
socioeco_2024 = socioeco[socioeco['year'] == 2024].drop(columns=['year', 'area_name']).reset_index(drop=True)

print("Crime 2024:", crime_2024.shape)
print("Socioeco 2024:", socioeco_2024.shape)
crime_2024.head()

Crime 2024: (17, 6)
Socioeco 2024: (15, 16)

,zip_code,total_crimes,violent_crimes,property_crimes,drug_crimes,other_crimes
0,94601,4708,1385,1961,45,1317
1,94602,2088,286,1038,8,756
2,94603,9098,2965,3378,230,2525
3,94605,657,121,333,5,198
4,94606,5994,1578,2477,118,1821

In [31]:
# Prepare merge tables with _res / _sch suffixes on value columns; keep zip key columns intact
crime_res    = crime_2024.add_suffix('_res').rename(columns={'zip_code_res': 'ZipResidence'})
socioeco_res = socioeco_2024.add_suffix('_res').rename(columns={'zip_code_res': 'ZipResidence'})

# Merge all four tables onto abs df
df = (df_abs
      .merge(crime_res,    on='ZipResidence', how='left')
      .merge(socioeco_res, on='ZipResidence', how='left'))

print("Final df shape:", df.shape)
new_cols = [c for c in df.columns if c not in df_abs.columns]
print("New columns added:", new_cols)

Final df shape: (17656, 52)
New columns added: ['total_crimes_res', 'violent_crimes_res', 'property_crimes_res', 'drug_crimes_res', 'other_crimes_res', 'total_population_res', 'poverty_universe_res', 'below_poverty_res', 'poverty_rate_pct_res', 'median_household_income_res', 'labor_force_res', 'unemployed_res', 'unemployment_rate_pct_res', 'education_universe_25plus_res', 'high_school_plus_rate_pct_res', 'college_degree_rate_pct_res', 'median_gross_rent_res', 'median_home_value_res', 'health_insurance_universe_res', 'uninsured_rate_pct_res']

In [32]:
df.head(2)

,ID,LastName,FirstName,Birthdate,DT,SiteName,Grade_Label,School_Level,Gen,Eth,...,labor_force_res,unemployed_res,unemployment_rate_pct_res,education_universe_25plus_res,high_school_plus_rate_pct_res,college_degree_rate_pct_res,median_gross_rent_res,median_home_value_res,health_insurance_universe_res,uninsured_rate_pct_res
0,443282,Aarif,Aslam,2010-07-02,2025-05-29,Oakland Technical High School,Grade 9,High School,M,African American,...,17845.0,1323.0,7.4,22776.0,70.2,48.7,2014.0,720600.0,28565.0,96.3
1,280022,Oregon Ornelas,Fernando,2010-10-18,2025-05-29,Madison Park Academy 6-12,Grade 8,Middle,M,Latino,...,17884.0,872.0,4.9,23178.0,51.2,14.7,1842.0,614700.0,35713.0,91.2

In [33]:
df.columns

Index(['ID', 'LastName', 'FirstName', 'Birthdate', 'DT', 'SiteName',
       'Grade_Label', 'School_Level', 'Gen', 'Eth', 'Fluency', 'Home Language',
       'Special Ed Status', 'SED Status', 'DaysEnr', 'DaysAbs', 'DaysPresent',
       'AttRate', 'Is_Chronic', 'Absence_Severity', 'NumSusp', 'NumDaysSusp',
       'Cumulative Weighted Total GPA (TP)', 'Current Weighted Total GPA (GT)',
       'ParentName', 'Telephone', 'PG_Email_1', 'Missing_Email',
       'Missing_Phone', 'AddressResidence', 'CityResidence', 'ZipResidence',
       'total_crimes_res', 'violent_crimes_res', 'property_crimes_res',
       'drug_crimes_res', 'other_crimes_res', 'total_population_res',
       'poverty_universe_res', 'below_poverty_res', 'poverty_rate_pct_res',
       'median_household_income_res', 'labor_force_res', 'unemployed_res',
       'unemployment_rate_pct_res', 'education_universe_25plus_res',
       'high_school_plus_rate_pct_res', 'college_degree_rate_pct_res',
       'median_gross_rent_res', 'median_home_value_res',
       'health_insurance_universe_res', 'uninsured_rate_pct_res'],
      dtype='object')

In [34]:
df.to_csv('../../data/abs_with_new_features.csv', index=False)